.page {
	min-height: calc(100vh - 98px);
	max-width: 935px;
	margin: 0 auto;
	margin-top: 60px;
}

@media screen and (max-width: 935px) {
	.page {
		min-height: calc(100vh - 222px);
		/*max-width: calc(100vw - 32px);*/
	}
}