/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/**/
	font-family: 'Velour-Light';
	color: rgb(38, 38, 38);
	/**/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/**/
	--b3f: 250,250,250;
	background-color: rgba(var(--b3f,250,250,250),1);
	/**/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

a {
    text-decoration: none;
    color: inherit;
}

h1 {
	--size: 190px;
	font-size: var(--size);
	margin: calc(var(--size)/10);
	text-align: center;
	overflow: hidden;
}

h2 {
	--size: 121.5px;
	font-size: var(--size);
	margin: calc(var(--size)/10);
	text-align: center;
	overflow: hidden;
}

h3 {
	--size: 53px;
	font-size: var(--size);
	margin: calc(var(--size)/10);
	text-align: center;
	overflow: hidden;
}

@media screen and (max-width: 935px) {

	h1 {
		--size: 121.5px;
		font-size: var(--size);
		margin: calc(var(--size)/10);
		text-align: center;
		overflow: hidden;
	}
	
	h2 {
		--size: 53px;
		font-size: var(--size);
		margin: calc(var(--size)/10);
		text-align: center;
		overflow: hidden;
	}
	
	h3 {
		--size: 43px;
		font-size: var(--size);
		margin: calc(var(--size)/10);
		text-align: center;
		overflow: hidden;
	}

}

@media screen and (max-width: 605px) {
	
	h1 {
		--size: 53px;
		font-size: var(--size);
		margin: calc(var(--size)/10);
		text-align: center;
		overflow: hidden;
	}
	
	h2 {
		--size: 43px;
		font-size: var(--size);
		margin: calc(var(--size)/10);
		text-align: center;
		overflow: hidden;
	}
	
	h3 {
		--size: 35px;
		font-size: var(--size);
		margin: calc(var(--size)/10);
		text-align: center;
		overflow: hidden;
	}

}

@font-face { 
  font-family: Velour-Light;
  src: url('/assets/fonts/Velour-Light.otf');
}

/*swiper*/

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.swiper {
    margin-left: auto;
    margin-right: auto;
}

/*Own*/

* {
    --swiper-theme-color: rgb(38, 38, 38);
}

/*
.swiper-button-next {
    color: rgb(38, 38, 38);
}
*/

/*
.swiper-button-prev {
    color: rgb(38, 38, 38);
}
*/

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-theme-color);
}

/*swiper*/

/*Scrollbar*/

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(219,219,219) #fafafa;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: #fafafa;
}

::-webkit-scrollbar-thumb {
	background: rgb(219,219,219);
	border: 4px solid #fafafa;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #262626;
}

/*Scrollbar*/